# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
.venv.bak/
venv.bak/

# Poetry
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints
notebook.ipynb

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Misc
*.log
*.tmp
